*, *:before, *:after {
  box-sizing: border-box;
}

/* sage box */
body {
  background-color: #3535;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.container {
  width: 360px;
}

section {
  margin: 0 auto;
  background-color: #fff;
}

/* Top navigation */
/* Navy blue box */
.statusbar {
  background-color: #1C313A;
  width: 100%;
  text-align: right;
}

.statusbar li {
  display:inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 5px 1.5px 5px 1.5px;
}

.wifi {

}

.cellular {

}

.battery {

}

.time {
  opacity: 0.9;
}

.app-bar {
  background-color: #fff;
  width: 100%;
  /* Z-index is what makes the border overlap on the next section */
  z-index: 2;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.app-bar li {
  display:inline-block;
}

/* Back arrow in the search bar */
.arrow {
  padding: 19.5px 0px 19.5px 24px;
}

/* Search bar result */
.title {
  text-align: center;
  color: #455A64;
  font-size: 20px;
  padding-left: 40px;
  font-weight: 500;
}

/* Middle content */
.scroll {
  overflow: scroll;
  height: 457px;
}

.bus-card {
  background-color: #FAFAFA;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  display: inline-block;
}

.bus-card:hover {
  background-color: #F2F2F2;
}

/* This makes the icons appear horizontally */
.bus-card li {
  display: inline-block;
}

.data {
  width: 22%;
  text-align: left;
  padding: 31px 0px 31px 15px;
}

/* Time or minutes until arrival*/
.data h2 {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.543846);
}

/* Bus status, such as "On Time" or "Resumes"*/
.data h3 {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #27AE60;
}

/* !important overrides .data h3 */
.data .reroute {
  color: #F2994A;
}

.data .resumes {
  color: #EB1C24;
}

.destination {
  width: 58%;
  text-align: center;
  margin-top: 5px;
}

.destination h1 {
  margin: 5px;
  font-size: 16px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
}

/* Bus sign icons */
.destination span {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25);
}

/* Numbers within bus sign icons */
.destination h2 {
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 20px;
  font-weight: bold;
}

#oneTwentyFour {
  background-color: #EB1C24;
}

#oneTwentyFour h2 {
  color: #FCFCFC;
}

#jayFourteen {
  background-color: #F0AB2C;
}

#jayFourteen h2 {
  color: #032C3D;
}

#oneFiftyOne {
  background-color: #E3E3E3;
  border: 2px solid #19692C;
}

#oneFiftyOne h2 {
  color: #19692C;
}

#sixty {
  background-color: #18374B;
}

#sixty h2 {
  color: #EF402B;
  font-size: 40px;
  margin-top: 15px;
}

#sixX {
  background-color: #18374B;
}

#sixX h2 {
  color: #FFFFFF;
  font-size: 40px;
  margin-top: 15px;
}

#four {
  background: linear-gradient( -180deg, #F26943 50%, #FFFFFF 50% );
}

#four h2 {
  color: #032C3D;
  font-size: 60px;
  margin-top: 7px;
}

#twenty {
  background-color: #62BFE0;
}

#twenty h2 {
  color: #F63629;
  font-size: 40px;
  margin-top: 15px;
}

#oneFiftySeven {
  background-color: #116393;
}

#oneFiftySeven h2 {
  color: #FDAD3E;
}
.right-arrow {
  padding: 43px 0px 43px 16px;
  width: 18%;
  text-align: center;
  float: right;
}

/* Bottom navigation
/* Box with "Map" and "Bus Stops" and "Ticket" */
.main-nav {
  background-color: #fff;
  width: 100%;
  color: #455A64;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: relative;
}

/* This makes the icons appear horizontally */
.main-nav li {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 32%;
  padding: 11px;
}

.bus-stops {
}

.ticket {
  opacity: 0.54;
}

.map {
  opacity: 0.54;
}

/* Back and Home and Recent */
.bottom-nav {
  background: #1C313A;
  width: 100%;
}

.bottom-nav li {
  display: inline-block;
  text-align: center;
  width: 32%;
  padding: 19px;
}

.triangle {
}

.circle {
}

.square {
}
